.form-wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 32px;
    padding: 36px 0;
}

.form {
    display: flex;
    flex-direction: row;
    height: 40px;
    gap: 8px;
}

.form-input {
    width: 272px;
    height: 100%;
    padding: 0 16px;
    font-size: 16px;
    border: 1px solid #808080;
    border-radius: 4px;
}

.form-input:hover {
    border: 1px solid #000;
}

.form-btn {
    height: 100%;
    width: 91px;
    border-radius: 8px;
    border: none;
    color: #fff;
    background-color: #4E75FF;
    font-size: 16px;
}

.form-btn:hover,
.load-more:hover {
    background-color: #6C8CFF;
    transition: 300ms;
}

.loader {
    font-size: 16px;
    color: #2E2F42;
}

.hidden {
    display: none;
}

.load-more {
    border-radius: 8px;
        border: none;
        color: #fff;
        background-color: #4E75FF;
        font-size: 16px;
        padding: 8px 16px;
}